.main {
    display: inline-block;
}

.articles {
    text-align: center;
    display: block;
    float: left;
    width: 65%;
    background-color: blanchedalmond;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.articles h2 {
    background-color: #2d2d44;
    padding: 18px 0 18px 20px;
    color: ghostwhite;
    text-align: left;
    margin: 0 0 20px 0;
}

blockquote {
    background-color: ghostwhite;
    text-align: left;
    width: 60%;
    padding: 25px 30px 45px 20px;
    border-left: 10px solid #2d2d44;
    position: relative;
    margin-left: 15%;
    box-shadow: 5px 3px 10px black;
}

blockquote cite {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    font-weight: bold;
}

.image {
    border: 3px solid #2d2d44;
    box-shadow: 5px 3px 10px black;
}

.content {
    text-align: left;
}

.ul-list {
    list-style-type: '- ';
}

.content {
    margin: 20px;
}

.content li {
    margin: 5px 5px 5px 0
}

.map {
    text-align: center;
}

.gallery {
    text-align: center;
    position: relative;
}

.slides {
    background-color: rgba(105, 105, 105, 0.7);
    padding: 10px;
}

.back {
    height: 0px;
    border: 20px solid;
    border-color: transparent black transparent transparent;
    position: absolute;
    bottom: 65%;
    left: 10%;
}

.next {
    height: 0px;
    border: 20px solid;
    border-color: transparent transparent transparent black;
    position: absolute;
    bottom: 65%;
    right: 10%;
}

.blockedb {
    border-color: transparent grey transparent transparent;
}

.blockedn {
    border-color: transparent transparent transparent grey;
}

.block {
    background-color: ghostwhite;
    margin-top: 0;
    padding: 10px;
}

div h4 {
    background-color: #2d2d44;
    color: ghostwhite;
    margin: 0;
    padding: 20px;
}

.center {
    text-align: center;
}

.container {
    width: 100%;
}

figcaption {
    margin: 20px;
    font-weight: bold;
}

figure {
    text-align: center;
    background-color: aliceblue;
    padding: 30px 10px 5px 10px;
    box-shadow: 5px 3px 10px black;
    margin-top: 10px
}

.personal-menu li{
    display: inline-block;
    background-color: #2d2d44;
    color: ghostwhite;
    padding: 10px;
    margin: 0;
    transition: 0.3s filter;
}

.personal-menu li:hover {
    filter: brightness(130%);
}