body {
    font-family: "Roboto", sans-serif;
    background-color: #040918;
}

.page-header {
    background-color: aliceblue;
    margin: -16px -8px 0 -8px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.page-header h1 {
    display: block;
    width: 400px;
    margin-left: 20px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #2B55DB;
}

.main-menu {
    position: absolute;
    bottom: 0;
    right: 8px;
}

.main-menu li {
    display: inline-block;
    margin-right: 10px;
}

.li {
    display: inline-block;
    padding: 10px 20px 10px 10px;
    height: 30px;
}

.main-menu li {
    margin-right: 10px;
    padding: 5px;
    font-weight: bold;
}

.main-menu a{
    transition: 0.3s;
}

.menu-list {
    position: relative;
}

.menu-drop-d {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -9999em;
    opacity: 0;
    transition: 0.5s opacity;
    border-left: 5px solid transparent;
    z-index: 5;
    display: block;
    right: 0;
}

.menu-list li {
    display: block;
    background-color: aliceblue;
    padding: 7px;
    padding-left: 10px;
    margin: 0;
    border-bottom: 1px solid silver;
    transition-duration: 0.3s;
}

.main-menu a:hover {
    color: #2B55DB;
}

.menu-drop-d:last-child li {
    border-bottom: none;
}

.menu-list:hover .menu-drop-d{
    opacity: 1;
    top: 100%;
    display: block;
}

.menu-drop-d .menu-drop-r {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -9999em;
    opacity: 0;
    transition: 0.5s opacity;
    border-left: 5px solid transparent;
    z-index: 5;
    display: block;
}

.menu-drop-d .menu-list:hover .menu-drop-r {
    opacity: 1;
    top: 0;
    right: 100%;
}

li {
    letter-spacing: 0.7px;
    text-transform: uppercase;
    font-size: 14px;
}

input {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: aliceblue;
    background-color: #2B55DB;
    padding: 10px;
    border: none;
}

header a{
    color: #111B39;
}

main {
    height: 600px;
    background-color: white;
    margin: 0 -8px 0 -8px;
}

footer {
    color: white;
    padding: 0 20% 0 20%;
    margin: 0 -8px -12px -8px;
}

footer h3 {
    display: block;
    font-size: 22px;
    width: 20%;
}

.menu li {
    font-family: 'PT-Root-UI',Helvetica,Arial,serif;
    font-weight: 700;
    font-size: 16px;
    display: block;
    letter-spacing: 1px;
    color: #fff;
    line-height: 44px;
    text-decoration: none;
    text-transform: uppercase;
}

.contact p {
    font-family: 'PTSerif',Helvetica,Arial,serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    opacity: .4;
    letter-spacing: normal;
    margin: 9px 0 9px 0;
    text-transform: none;
}

.contact {
    width: 20%;
}

footer span {
    letter-spacing: normal;
    text-transform: none;
    font-weight: bold;
}

footer ul {
    display: inline-block;
}

.social li {
    display: inline-block;
}

.social p {
    color: #fff;
    opacity: .4;
    font-size: 14px;
}

.social a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: aquamarine;
}

