body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.page-header {
    background-color: ghostwhite;
    margin: -12px -8px 0 -8px;
    color: #2B55DB;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.page-header h1 {
    display: block;
    width: 400px;
    margin-left: 20px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main-menu {
    position: absolute;
    bottom: 0;
    right: 8px;
}
.main-menu input {
    padding: 15px;
    border: none;
    color: ghostwhite;
    background-color: #2B55DB;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.main-menu li {
    display: inline-block;
    margin-right: 10px;
}
.infos {
    position: relative;
    margin-right: 10px;
    display: block;
}

.infos:after {
    position: absolute;
    content: " ";
    border: 5px solid;
    border-color: #111B39 transparent transparent transparent;
    top: 0.5em;
    right: 0em;
}

.menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -9999em;
    opacity: 0;
    transition: 0.5s opacity;
    border-left: 5px solid transparent;
    z-index: 5;
    left: -15%;
    display: block;
}

.infos:hover .menu{
    opacity: 1;
    top: 20px;
}

.menu-list {
    position: relative;
}

.menu-drop {
    position: absolute;
    width: 100%;
    left: 100%;
    height: 100%;
    top: -9999em;
    opacity: 0;
    transition: 0.5s opacity;
    border-left: 5px solid transparent;
    z-index: 5;
}
a {
    text-decoration: none;
}

.menu-list:hover .menu-drop {
    opacity: 1;
    top: 0;
}

.menu a {
    background-color: ghostwhite;
    color: #111B39;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #111B39;
    border-left: 10px solid silver;
    transition-duration: 0.3s;
    transition-property: background-color, border-left;
    display: block;
    width: 100%;
    left: 100%;
}



.main-menu a {
    color: #111B39;
    text-transform: uppercase;
    margin-right: 15px;
    letter-spacing: 1px;
    font-size: 12px;
    transition-duration: 0.5s;
    font-weight: bolder;
}

.main-menu a:hover {
    color: #2B55DB;
}

main {
    background-color: ghostwhite;
    margin: 0 -8px 0 -8px;
}

.main {
    display: inline-block;
}

.page-footer {
    color: ghostwhite;
    display: flex;
    justify-content: space-between;
}

.social {
    margin: 10px 10px 0 0;
}

.social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: darksalmon;
}

.vk {
    background-image: url(/Users/Проектория/Desktop/social-icons.png);
    background-position-x: -54.5px;
    background-size: 310px;
    background-color: #4a76a8;
}

.ig {
    background-image: url(/Users/Проектория/Desktop/social-icons.png);
    background-position-x: -270px;
    background-size: 310px;
    background-color: darksalmon;
}

.fb {
    background-image: url(/Users/Проектория/Desktop/social-icons.png);
    background-position-x: -109px;
    background-size: 310px;
    background-color: #3b5998;
}

.yt {
    background-image: url(/Users/Проектория/Desktop/social-icons.png);
    background-size: 310px;
    background-position-x: -216.5px;
    background-position-y: -54px;
    background-color: #c4302b;
    backdrop-filter: brightness(100%);
}