a {
    text-decoration: none;
}

.navigation-block ul {
    padding: 0;
    list-style: none;
}

/*Внешний вид*/

.navigation-block h3 {
    background-color: #2B55DB;
    color: ghostwhite;
    margin: 0;
    padding: 10px;
    font-size: 24px;
}

.menu li:last-child a{
    border-bottom: none;
}

.navigation-block {
    width: 30%;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 10px;
    display: block;
    float: left;
}

.navigation-block a {
    background-color: ghostwhite;
    color: #111B39;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #111B39;
    border-left: 10px solid silver;
    transition-duration: 0.3s;
    transition-property: background-color, border-left;
}

.navigation-block a:hover {
    color: #2B55DB;
    border-left: 10px solid #2B55DB;
}

/*Выпадающщее меню*/

.menu-list {
    position: relative;
}

.menu-drop {
    position: absolute;
    width: 100%;
    left: 100%;
    height: 100%;
    top: -9999em;
    opacity: 0;
    transition: 0.5s opacity;
    border-left: 5px solid transparent;
    z-index: 5;
}

.menu-list:hover .menu-drop {
    opacity: 1;
    top: 0;
}

/*Иконка*/

.menu-list::after {
    content: " ";
    position: absolute;
    border: 5px solid;
    border-color: transparent transparent transparent ghostwhite;
    top: 1em;
    right: 0.9em;
    transition-duration: 0.5s;
}

.menu-list:hover::after {
    transform: scaleX(-1);
}